@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script&display=swap');

h1 {
    color: whitesmoke;
    text-align:center;
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: black;
}

.card {
    height: 500px;
}

.card-text {
    font-family: 'Crimson Text', serif;
}