@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia");

h1 {
  color: brown;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

body {
  background-color: bisque;
}

.card {
  height: 850px;
  margin: 20px 0;
  background-color: bisque;
  box-sizing: content-box;
}

#card-text {
  font-family: "Crimson Text", serif;
  color: black;
  margin: 10px 0;
  font-size: 18px;
  line-height: 20px;
  height: auto;
}

.card-img-top {
  align-self: center;
}

.card-title {
  font-family: "Sofia", sans-serif;
  margin: 15px;
}
